<!DOCTYPE html>

<html>
<head>
    <title>Accueil</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='classic_queue.css')}}">
    <script src="{{url_for('static', filename='classic_queue.js')}}"></script>
</head>

<body>
    <main>
        <div class="box">
        <button class="searchButton" id="searchButton" onclick="startSearching()">LANCER UNE PARTIE</button>
            <p id="waitingMessage" class="waitingMessage"></p>
        </div>
    </main>

</body>



</html>