<!DOCTYPE html>
<html>
<head>
    <title>Accueil</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style_main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">

</head>

<body>
<div class="haut_de_page">
    <div class="container_main">
        <div class="header">


            <a class="header_link" href="howtoplay">COMMENT JOUER ?</a>
            <a class="header_link" href="leaderboard">CLASSEMENT</a>
            <a class="header_link" href="">FONDATEURS</a>
        </div>
        <!-- Gap entre le header et le texte -->
        <!----->
        <div class="main_desc">
            <p class="desc_title">PROJET K</p>
            <h1 class="desc_text">MONTREZ VOS TALENTS<br> D'ORATEUR</h1>
        </div>

        <div class="play_button_container">
            <button>JOUER</button>
        </div>

    </div>

</div>

</body>



</html>
