<!DOCTYPE html>
<html>
<head>
    <title>Partie en cours</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='InGame.css')}}">
</head>

<body>
    <div class="header">
        <a class="header_link" href="howtoplay">COMMENT JOUER ?</a>
        <a class="header_link" href="leaderboard">CLASSEMENT</a>
        <a class="header_link" href="#fondateurs_section">FONDATEURS</a>
        <a class="header_link" href="Profil.html">PROFIL</a>
    </div>
    <div class="container_main">

        <h1>ICI LE THEME DU DEBAT</h1>

        <div class="box">
            <div class="team1_container">
                <h3>EQUIPE 1</h3>
                <hr class="line">
                <p>joueur 1 lvl</p>
                <p>joueur 2 lvl</p>
                <p>joueur 3 lvl</p>
            </div>

            <div class="chat">
                    <div class="chat-box">
                        <div id="message_holder">
                            <ul id="message_list"></ul>


                        </div>
                    </div>
                
                <div class="bottom_chat">
                    <div class="form">
                        <input id="monMessage" type="text" class="message" placeholder="Écrire un message...">
                        <button onclick="sendMessage()"> <img src="/static/send_messsage.png" alt="Envoyer"></button>
                    </div>
                </div>
            </div>
    
            <div class="team2_container">
                <h3>EQUIPE 2</h3>
                <hr class="line">
                <p>joueur 1 lvl</p>
                <p>joueur 2 lvl</p>
                <p>joueur 3 lvl</p>
            </div>
    
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='InGame.js') }}"></script>

    <script>
    var socketio = io();
    socketio.on('message', function(message){
        console.log("OK");
        createChatItem(message.message, message.sender)
    });
    </script>
</body>
</html>