<!DOCTYPE html>
<html>
<head>
    <title>Partie en cours</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='InGame.css')}}">
</head>

<body>
    <div class="header">
        <a class="header_link" href="howtoplay">COMMENT JOUER ?</a>
        <a class="header_link" href="leaderboard">CLASSEMENT</a>
        <a class="header_link" href="#fondateurs_section">FONDATEURS</a>
        <a class="header_link" href="Profil.html">PROFIL</a>
    </div>
    <div class="container_main">

        <h1>Theme : {{themes[partie.thematiqueID]}}</h1>
        <h3 id="talking">Lancement de la partie... Veuillez patienter quelques instants.</h3>
        <h3 id="timer"></h3>
        <h3 id="tour"></h3>
        <div class="box">
            <div class="team1_container">
                <h3>EQUIPE 1</h3>
                <hr class="line" id="equipe1">
            </div>

            <div class="chat">
                    <div class="chat-box">
                        <div id="message_holder">
                            <ul id="message_ul" class="message_list"><li class="message">
                                <div class="message_container" id=0>
                                <img class="avatar" src="/static/avatars/default.jpg">
                                <p class="message">Bienvenue dans le débat !</p>
                                </div>
                            </li>
                        </ul>
                                

                        </div>
                    </div>
                
                <div id="bottom" class="bottom_chat">
                    <div class="form" >
                        <input id="monMessage" type="text" class="message" placeholder="Écrire un message..." autocomplete="off">
                        <button id="send_button" onclick="sendMessage()"> <img src="/static/send_messsage.png" alt="Envoyer"></button>
                    </div>
                </div>
            </div>
    
            <div class="team2_container">
                <h3>EQUIPE 2</h3>
                <hr class="line" id="equipe2">
            </div>
    
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='InGame.js') }}"></script>

    <script>
    sessionid =  {{session["id"]}};

    socketio.on('message', function(message){
        if(message.event == "message"){
            createChatItem(message.id, message.message, message.sender, message.date, message.equipe, message.avatar, message.rep);
        }
        else if (message.event == "update"){
            updateInfos(message.id, message.status, message.talking, message.equipe1, message.equipe2, message.timer, message.round);
        }
        else if(message.event == "end"){
            window.location.href = "/game/{{room}}/game_review"
        }
    });
    </script>
</body>
</html>