<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Joueur</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profil.css')}}">
</head>
<body>

    <nav class="navbar">
        <div>
            <ul>
                <li><a href="/">Acceuil</a></li>
                <li><a href="howtoplay">Comment jouer ?</a></li>
                <li><a href="leaderboard">Leaderboard</a></li>
                {% if session['email'] %}
                    <li><a href="disconnect">Deconnexion</a></li>
                {% else %}
                    <li><a href="connexion">Connexion</a></li>
                {% endif %}
            
                
            </ul>
        </div>
    </nav>

    
    <div class="profile-container">
            <img src="/static/avatars/{{avatar}}.jpg">

            <h1>{{data["username"]}}</h1>
            <p>LEVEL {{data["niveau"]}}</p>
    </div>
     
    <div class="stats-container">
            <div class="stat-card">
                <h3>PARTIES TERMINÉES</h3>
                <p>{{data["nb_parties"]}}</p>
            </div>
            <div class="stat-card">
                <h3>POINTS D'ELO</h3>
                <p>{{data["rang"]}}</p>
            </div>
            <div class="stat-card">
                <h3>RATIO VICTOIRES CLASSIQUE</h3>
                <p>{{data["nb_victoires_classique"]}}</p>
            </div>
            <div class="stat-card">
                <h3>NOMBRE VICTOIRES TOURNOI</h3>
                <p>{{data["nb_victoires_tournois"]}}</p>
            </div>
            <div class="stat-card">
                <h3>SCORE TOTAL</h3>
                <p>{{data["score_total"]}}</p>
            </div>
            <div class="stat-card">
                <h3>AUTRE STATS</h3>
                <p>?</p>
            </div>
            
        </div>
    </div>
    
</body>
</html>
