



<!DOCTYPE html>
<html>
<head>
    <title>Qu'est ce que K ?</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>

<body>

    <header>
    <h1>Qu'est ce que K ?</h1>
    <section>
        <h2>Règles du jeu :</h2>
     </header>
     <p>Le joueur choisit son thème de débat (pour que les joueurs soient un minimum spécialisés), il lance une partie et rejoint d’autres joueurs qui ont choisi la même catégorie. Un sujet de débat leur est présenté, le camp à défendre est choisi aléatoirement. 
Ainsi, les joueurs commencent le débat. La partie se déroule en 3 contre 3.
Chacun leurs tours les joueurs exposent leurs arguments et tentent de convaincre le plus de spectateurs possible.
Tout au long de la partie les spectateurs peuvent interagir avec le débat pour à la fin désigner l’équipe la plus convaincante.
Une partie se termine lorsque le temps du débat est entièrement écoulé. Gagner une partie vous rapporte des point d'expérience et de rang.</p> 

    


</body>






</html>